/* 
  I chose the color scheme of a very light blue for the background
  color and an off white for my div background colors. I chose
  light blue because it adds a subtle feeling of calmness which
  is important when going through websites because it is not too
  eye catching, but not too subtle at the same time, so it doesn't
  disturb the user's eyes, but does not go unnoticed either. I chose
  off white because dark colored text on top of light colored background
  is the best color combination for easy readability, and since it is 
  not encouraged to use pure white or pure black, I used an off white.
  I also used this color combination so that whoever is reading this
  website can retain the information, and learn more about the treaties.
  I also used a sans serif font because this website will mostly be
  targetting younger audiences, and since sans serif is more modern and 
  commonly used, I used it instead of serif.
*/
* {
  line-height: 140%;
  letter-spacing: 0.02rem;
  word-spacing: 0.02rem;
}
/* 
  This makes it so that everything on the website is 62.5% of the
  frame of the website.
*/
html {
  font-size: 62.5%;
}

/* 
  This CSS code makes the background of my website an off-white,
  makes the font size 18 pixels, and makes the font family first
  helvetica, then arial, then just the default sans-serif font.
*/
body {
  background-color: #f0f3fc;
  font-size: 1.8rem;
  font-family: Helvetica, Arial, sans-serif;
}

/* 
  This CSS code makes my navigation unordered list be aligned in the
  center of the screen, and makes it have no bullet points.
*/
nav ul {
  text-align: center;
  list-style: none;
}

/* 
  This CSS code makes the space between my navigation and the top of the
  website 10 pixels. It will also make the background color of my nav the
  same color as my
*/
nav {
  background: rgba(240, 243, 252, 0.97);
  padding-top: 10px;
  position: fixed;
  top: 0;
  width: 100%;
  box-shadow: 4.7px 4.7px 8px rgba(0, 0, 0, 0.1);
  z-index: 9999;
}

/* 
  This CSS code makes everything in my header have a background of a gimblet,
  that fades into a darker shade of the color. Some applications are not able
  to run this, so if it does not work, it reverts to just the default gimblet.
  It also adds space between the sides of my screen and the elements on my 
  website.
*/
header {
  padding: 100px 10px 1px;
}

/* 
  This makes my navigation links inline so they are next to each other.
*/
nav li {
  display: inline;
}

/* 
  This makes my navigation links not underlined, make the text color black,
  and puts 10 pixels of space between the links.
*/
nav a {
  text-decoration: none;
  color: #ededed;
  padding: 10px;
  margin-left: 20px;
  background-color: #172e74;
  transition:
    box-shadow 0.3s ease-in-out,
    color 0.3s ease-in-out,
    background-color 0.3s ease-in-out;
}

/* 
  Using yellow here because of the yellow colour in the treaty one flag.
*/
nav a:visited {
  color: rgb(255, 255, 183);
}

/* 
  This makes it so that the background color of my navigation links a light
  blue, and also makes it so that whenever a mouse hovers over the links,
  the background color eases in, making it not appear immediately, but 0.3
  seconds after.
*/
nav a:hover {
  background-color: #ededed;
  color: #172e74;
  box-shadow: 4.7px 6px 5px rgba(0, 0, 0, 0.5);
}

nav a:visited:hover {
  background-color: rgb(255, 255, 183);
}

/* 
  This makes it so that the image in the corner of my website on the left, 
  makes it so that it adds 20 pixels of space between the image so that the
  title can be more centered. It also gives it a width of 120 pixels.
*/
#logo {
  height: auto;
  width: 120px;
  margin-right: 20px;
  float: left;
}

/* 
  This makes it so that all h1 tags are 60 pixels big.
*/
h1 {
  font-size: 6rem;
}

/* 
  This makes it so that all h2 sub-heading tags are 40 pixels big.
*/
h2 {
  font-size: 4rem;
}

/* 
  This makes it so that my title is aligned in the center of the screen, and
  so that the padding at the top is 25 pixels, and makes it so that the space
  at the bottom is 100 pixels.
*/
.title {
  padding-top: 25px;
  margin-bottom: 100px;
  text-align: center;
}

/* 
  This makes it so that the first image on my homepage goes to the right of 
  the screen, and has space to the left of it that is 40 pixels big.
*/
#treaty-one-flag {
  float: right;
  margin-left: 40px;
  translate: 0px 20px;
}

/* 
  This makes it so that the first div has a background color that fades from 
  light white, to a gray color. If that does not work, it reverts back to a 
  solid gray color. The div also has a width of 1070 pixels, and has 10 pixels 
  of negative space to the left of it.
*/
#where-it-was-signed {
  background-color: whitesmoke;
  box-shadow: 4.7px 4.7px 8px rgba(0, 0, 0, 0.1);
  border: solid 0.5px #a7a7a7;
  border-radius: 20px;
  margin-top: 7px;
  width: 973px;
  padding: 10px 50px;
  transition:
    translate 0.43s ease-out,
    box-shadow 0.2s ease-in;
}

#where-it-was-signed:hover {
  box-shadow: 4.7px 6px 5px rgba(0, 0, 0, 0.5);
  translate: 0px -10px;
}

/* 
  This makes it so that the is a very large picture of the depiction of the 
  signing of the first treaty is in the middle of the website, makes it have
  50 pixels of space on the top and bottom of the picture, and displays it
  as a block element.
*/
#website-banner {
  margin: auto;
  margin-bottom: 50px;
  margin-top: 50px;
  display: block;
}

/* 
  This makes it so that the image of the map of all the treaty territories 
  goes to the right of the screen, and has 40 pixels of space to the left
  of it.
*/
#treaty-territories {
  float: right;
  margin-left: 40px;
  translate: 0px 9px;
}

/* 
  This makes it so that the second div has color that fades from a light white
  to a gray color. If that does not work, it reverts back to a solid gray color.
  The width of the div is also 1025 pixels, and has 10 pixels of space to the left
  of it.
*/
#locations-of-treaties {
  background-color: whitesmoke;
  box-shadow: 4.7px 4.7px 8px rgba(0, 0, 0, 0.1);
  border: solid 0.5px #a7a7a7;
  border-radius: 20px;
  width: 930px;
  padding: 10px 50px;
  transition:
    translate 0.43s ease-out,
    box-shadow 0.2s ease-in;
}

/* 
  This makes the box shadow of my div much darker when it gets hovered 
  over, and makes the div move 10 pixels up when hovered over.
*/
#locations-of-treaties:hover {
  box-shadow: 4.7px 6px 5px rgba(0, 0, 0, 0.5);
  translate: 0px -10px;
}

/* 
  This makes everything in my footer is in the center of the screen.
*/
footer {
  text-align: center;
}

/* 
  This makes it so that the first div of the second web-page has a background 
  color that fades from a light white to a gray color. If that does not work,
  it reverts back to a solid gray color. It also transitions the translate
  and box-shadow properties from #treaty-one-info:hover so that it eases in nicely.
*/
#treaty-one-info {
  background-color: whitesmoke;
  box-shadow: 4.7px 4.7px 8px rgba(0, 0, 0, 0.1);
  border: solid 0.5px #a7a7a7;
  border-radius: 20px;
  padding: 10px 50px;
  height: auto;
  width: auto;
  margin-bottom: 15px;
  transition:
    translate 0.43s ease-out,
    box-shadow 0.2s ease-in;
}

/* 
  This makes the box shadow of my div much darker when it gets hovered 
  over, and makes the div move 10 pixels up when hovered over.
*/
#treaty-one-info:hover {
  box-shadow: 4.7px 6px 5px rgba(0, 0, 0, 0.5);
  translate: 0px -10px;
}

/* 
  This makes the second div of the second webpage have a background color
  of whitesmoke, makes the box shadow visible, but not too visible so it
  can have a nice subtle effect. It also makes it so that the div has a 
  border that is 0.5 pixels big and have a dark gray colour that will make
  it easily distinguishable from the background color. Border radius makes 
  the border curved and not fully rectangular, this css code gives it a 
  width of 1155 pixels, and adds 10 pixels of padding space to the left 
  of it and 10 pixels of margin space on the top of it. It also transitions 
  the translate and box-shadow properties from #major-events:hover so that 
  it eases in nicely.
*/
#major-events {
  background-color: whitesmoke;
  box-shadow: 4.7px 4.7px 8px rgba(0, 0, 0, 0.1);
  border: solid 0.5px #a7a7a7;
  border-radius: 20px;
  width: 1050px;
  padding: 10px 50px;
  margin-top: 10px;
  transition:
    translate 0.43s ease-out,
    box-shadow 0.2s ease-in;
}

/* 
  This makes the box shadow of my div much darker when it gets hovered 
  over, and makes the div move 10 pixels up when hovered over.
*/
#major-events:hover {
  box-shadow: 4.7px 6px 5px rgba(0, 0, 0, 0.5);
  translate: 0px -10px;
}

#treaty-map {
  margin-top: 60px;
  float: right;
  display: inline;
  margin-right: 10px;
  transition:
    box-shadow 0.2s ease-in,
    translate 0.43s ease-out;
}

#treaty-map:hover {
  translate: 0px -5px;
  box-shadow: 4.7px 6px 5px rgba(0, 0, 0, 0.5);
}

#before-treaty {
  background-color: whitesmoke;
  box-shadow: 4.7px 4.7px 8px rgba(0, 0, 0, 0.1);
  border: solid 0.5px #a7a7a7;
  border-radius: 20px;
  width: 1050px;
  padding: 10px 50px;
  margin-top: 10px;
  transition:
    translate 0.43s ease-out,
    box-shadow 0.2s ease-in;
}

#before-treaty:hover {
  box-shadow: 4.7px 6px 5px rgba(0, 0, 0, 0.5);
  translate: 0px -10px;
}

#rupert-map {
  margin-top: 60px;
  float: right;
  display: inline;
  margin-right: 10px;
}

#treaty-one-today {
  background-color: whitesmoke;
  box-shadow: 4.7px 4.7px 8px rgba(0, 0, 0, 0.1);
  border: solid 0.5px #a7a7a7;
  border-radius: 20px;
  width: 1145px;
  padding: 10px 50px;
  margin-top: 10px;
  transition:
    translate 0.43s ease-out,
    box-shadow 0.2s ease-in;
}

#treaty-one-today:hover {
  box-shadow: 4.7px 6px 5px rgba(0, 0, 0, 0.5);
  translate: 0px -10px;
}
