/* 
  I chose the color scheme of a very light blue for the background
  color and an off white for my div background colors. I chose
  light blue because it adds a subtle feeling of calmness which
  is important when going through websites because it is not too
  eye catching, but not too subtle at the same time, so it doesn't
  disturb the user's eyes, but does not go unnoticed either. I chose
  off white because dark colored text on top of light colored background
  is the best color combination for easy readability, and since it is 
  not encouraged to use pure white or pure black, I used an off white.
  I also used this color combination so that whoever is reading this
  website can retain the information, and learn more about the treaties.
  I also used a sans serif font because this website will mostly be
  targetting younger audiences, and since sans serif is more modern and 
  commonly used, I used it instead of serif.
*/

/* 
  This makes it so that the line height of all the lines in the website is
  1.4x space apart, more letter spacing, and more word spacing.
*/
* {
  line-height: 140%;
  letter-spacing: 0.02rem;
  word-spacing: 0.02rem;
}

/* 
  This makes it so that everything on the website is 62.5% of the
  frame of the website.
*/
html {
  font-size: 62.5%;
}

/* 
  This CSS code makes the background of my website an off-white,
  makes the font size 18 pixels, and makes the font family first
  helvetica, then arial, then just the default sans-serif font.
*/
body {
  background-color: #f0f3fc;
  font-size: 1.8rem;
  font-family: Helvetica, Arial, sans-serif;
}

/* 
  This CSS code makes my navigation unordered list be aligned in the
  center of the screen, and makes it have no bullet points.
*/
nav ul {
  text-align: center;
  list-style: none;
}

/* 
  This CSS code makes the background of my nav the same as the whole website,
  but have a bit less opacity making it so that when it scrolls over other
  elements, it does not fully block them out, and gives it a nicer look.
  It adds 10 pixels of padding sapce to the top, and gives it a position of
  fixed, always keeps it in the spot that it is in, and follows you when you
  are scrolling through the website. It gives it a width of 100% of the website,
  making it centered in the middle, and also gives it a box shadow, seperating it
  from the rest of the website's background. It has a z-index of 9999 which puts
  it above the rest of the website's elements when you scroll down.
*/
nav {
  background: rgba(240, 243, 252, 0.97);
  padding-top: 10px;
  position: fixed;
  top: 0;
  width: 100%;
  box-shadow: 4.7px 4.7px 8px rgba(0, 0, 0, 0.1);
  z-index: 9999;
}

/* 
  This CSS code makes everything in my header have 100 pixels of padding space at 
  the top, 10 pixels at the left, and 1 pixel at the right.
*/
header {
  padding: 100px 10px 1px;
}

/* 
  This makes my navigation links inline so they are next to each other.
*/
nav li {
  display: inline;
}

/* 
  This makes my navigation links not underlined, make the text color lighter,
  10 pixels of padding all around it, 20 pixels of margin space at the left of
  it, has a background color of dark blue, and transitions the box shadow, color,
  and background color when it is hovered over.
*/
nav a {
  text-decoration: none;
  color: #ededed;
  padding: 10px;
  margin-left: 20px;
  background-color: #172e74;
  transition:
    box-shadow 0.3s ease-in-out,
    color 0.3s ease-in-out,
    background-color 0.3s ease-in-out;
}

/* 
  Changes the color of the nav to light yellow when hovered over. I used orange 
  because of the yellow in the Treaty One flag.
*/
nav a:visited {
  color: rgb(255, 255, 183);
}

/* 
  This makes it so that the background color of my navigation links an off
  white, the color of the text a dark blue, and the box shadow much darker 
  than when it is not being hovered over.
*/
nav a:hover {
  background-color: #ededed;
  color: #172e74;
  box-shadow: 4.7px 6px 5px rgba(0, 0, 0, 0.5);
}

/* 
  This makes it so that if you have visited the website, and if it hovered 
  over, the background color changes to a light yellow. Again, using
  yellow for the Treaty One flag.
*/
nav a:visited:hover {
  background-color: rgb(255, 255, 183);
}

/* 
  This makes it so that the image in the corner of my website on the left, 
  makes it so that it adds 20 pixels of space between the image so that the
  title can be more centered. It also gives it a width of 120 pixels.
*/
#logo {
  height: auto;
  width: 120px;
  margin-right: 20px;
  float: left;
}

/* 
  This makes it so that all h1 tags are 60 pixels big.
*/
h1 {
  font-size: 6rem;
}

/* 
  This makes it so that all h2 sub-heading tags are 40 pixels big.
*/
h2 {
  font-size: 4rem;
}

/* 
  This makes it so that my title is aligned in the center of the screen, and
  so that the padding at the top is 25 pixels, and makes it so that the space
  at the bottom is 100 pixels.
*/
.title {
  padding-top: 25px;
  margin-bottom: 100px;
  text-align: center;
}

/* 
  This makes it so that the first image on my homepage goes to the right of 
  the screen, and has space to the left of it that is 40 pixels big.
*/
#treaty-one-flag {
  float: right;
  margin-left: 40px;
  translate: 0px 20px;
}

/* 
  This makes it so that this div has a backgound color of whitesmoke, a subtle
  box shadow that adds a ice effect, a very thin border, but not too thin so 
  that it can seperate it from the background color. It also makes the border
  rounder and not fully rectangular, puts 7 pixels of margin space at the top,
  makes the width of the div 973 pixels, and adds 10 pixels of padding at the 
  sides, and 50 pixels of padding at the top and bottom. It also transitions
  the translate and box shadow to ease in and out instead of just appearing.
*/
#where-it-was-signed {
  background-color: whitesmoke;
  box-shadow: 4.7px 4.7px 8px rgba(0, 0, 0, 0.1);
  border: solid 0.5px #a7a7a7;
  border-radius: 20px;
  margin-top: 7px;
  width: 973px;
  padding: 10px 50px;
  transition:
    translate 0.43s ease-out,
    box-shadow 0.2s ease-in;
}

/* 
  This makes it so that when the div is hovered over, its box shadow thickens, 
  and it moves upwards a little.
*/
#where-it-was-signed:hover {
  box-shadow: 4.7px 6px 5px rgba(0, 0, 0, 0.5);
  translate: 0px -10px;
}

/* 
  This makes it so that the is a very large picture of the depiction of the 
  signing of the first treaty is in the middle of the website, makes it have
  50 pixels of space on the top and bottom of the picture, and displays it
  as a block element.
*/
#website-banner {
  margin: auto;
  margin-bottom: 50px;
  margin-top: 50px;
  display: block;
}

/* 
  This makes it so that the image of the map of all the treaty territories 
  goes to the right of the screen, and has 40 pixels of space to the left
  of it. Translate makes it move 9 pixels downward.
*/
#treaty-territories {
  float: right;
  margin-left: 40px;
  translate: 0px 9px;
}

/* 
  This makes it so that this div has a backgound color of whitesmoke, a subtle
  box shadow that adds a ice effect, a very thin border, but not too thin so 
  that it can seperate it from the background color. It also makes the border
  rounder and not fully rectangular, puts 7 pixels of margin space at the top,
  makes the width of the div 930 pixels, and adds 10 pixels of padding at the 
  sides, and 50 pixels of padding at the top and bottom. It also transitions
  the translate and box shadow to ease in and out instead of just appearing.
*/
#locations-of-treaties {
  background-color: whitesmoke;
  box-shadow: 4.7px 4.7px 8px rgba(0, 0, 0, 0.1);
  border: solid 0.5px #a7a7a7;
  border-radius: 20px;
  width: 930px;
  padding: 10px 50px;
  transition:
    translate 0.43s ease-out,
    box-shadow 0.2s ease-in;
}

/* 
  This makes the box shadow of my div much darker when it gets hovered 
  over, and makes the div move 10 pixels up when hovered over.
*/
#locations-of-treaties:hover {
  box-shadow: 4.7px 6px 5px rgba(0, 0, 0, 0.5);
  translate: 0px -10px;
}

/* 
  This makes everything in my footer centered.
*/
footer {
  text-align: center;
}

/* 
  This makes it so that this div has a backgound color of whitesmoke, a subtle
  box shadow that adds a ice effect, a very thin border, but not too thin so 
  that it can seperate it from the background color. It also makes the border
  rounder and not fully rectangular, puts 7 pixels of margin space at the top,
  makes the width and height of the div auto, and adds 10 pixels of padding at the 
  sides, and 50 pixels of padding at the top and bottom. It also transitions
  the translate and box shadow to ease in and out instead of just appearing.
*/
#treaty-one-info {
  background-color: whitesmoke;
  box-shadow: 4.7px 4.7px 8px rgba(0, 0, 0, 0.1);
  border: solid 0.5px #a7a7a7;
  border-radius: 20px;
  padding: 10px 50px;
  height: auto;
  width: auto;
  margin-bottom: 15px;
  transition:
    translate 0.43s ease-out,
    box-shadow 0.2s ease-in;
}

/* 
  This makes the box shadow of my div much darker when it gets hovered 
  over, and makes the div move 10 pixels up when hovered over.
*/
#treaty-one-info:hover {
  box-shadow: 4.7px 6px 5px rgba(0, 0, 0, 0.5);
  translate: 0px -10px;
}

/* 
  This makes the second div of the second webpage have a background color
  of whitesmoke, makes the box shadow visible, but not too visible so it
  can have a nice subtle effect. It also makes it so that the div has a 
  border that is 0.5 pixels big and have a dark gray colour that will make
  it easily distinguishable from the background color. Border radius makes 
  the border curved and not fully rectangular, this css code gives it a 
  width of 1050 pixels, and adds 10 pixels of padding space to the left 
  of it and 10 pixels of margin space on the top of it. It also transitions 
  the translate and box-shadow properties from #major-events:hover so that 
  it eases in nicely.
*/
#major-events {
  background-color: whitesmoke;
  box-shadow: 4.7px 4.7px 8px rgba(0, 0, 0, 0.1);
  border: solid 0.5px #a7a7a7;
  border-radius: 20px;
  width: 1050px;
  padding: 10px 50px;
  margin-top: 10px;
  transition:
    translate 0.43s ease-out,
    box-shadow 0.2s ease-in;
}

/* 
  This makes the box shadow of my div much darker when it gets hovered 
  over, and makes the div move 10 pixels up when hovered over.
*/
#major-events:hover {
  box-shadow: 4.7px 6px 5px rgba(0, 0, 0, 0.5);
  translate: 0px -10px;
}

/* 
  This makes it so that this image floats to the right, displays as an inline 
  element so that it can be beside the other elements, 60 pixels of margin space
  at the top, and 10 pixels at the right, and transitions the opacity when it is
  hovered over to ease in and out.
*/
#treaty-map {
  margin-top: 60px;
  margin-right: 10px;
  float: right;
  display: inline;
  transition: opacity 0.3s ease-in-out;
}

/* 
  This makes it so that when the treaty map images is overed over, the opacity 
  changes to signify that the image can be clicked on.
*/
#treaty-map:hover {
  opacity: 0.55;
}

/* 
  This makes the second div of the second webpage have a background color
  of whitesmoke, makes the box shadow visible, but not too visible so it
  can have a nice subtle effect. It also makes it so that the div has a 
  border that is 0.5 pixels big and have a dark gray colour that will make
  it easily distinguishable from the background color. Border radius makes 
  the border curved and not fully rectangular, this css code gives it a 
  width of 1050 pixels, and adds 10 pixels of padding space to the left 
  of it and 10 pixels of margin space on the top of it. It also transitions 
  the translate and box-shadow properties from #major-events:hover so that 
  it eases in nicely.
*/
#before-treaty {
  background-color: whitesmoke;
  box-shadow: 4.7px 4.7px 8px rgba(0, 0, 0, 0.1);
  border: solid 0.5px #a7a7a7;
  border-radius: 20px;
  width: 1050px;
  padding: 10px 50px;
  margin-top: 10px;
  transition:
    translate 0.43s ease-out,
    box-shadow 0.2s ease-in;
}

/* 
  This makes the box shadow of my div much darker when it gets hovered 
  over, and makes the div move 10 pixels up when hovered over.
*/
#before-treaty:hover {
  box-shadow: 4.7px 6px 5px rgba(0, 0, 0, 0.5);
  translate: 0px -10px;
}

/* 
  This makes it so that this image floats to the right, and displays as
  an inline element so that it can be beside the other elements, has 
  10 pixels of space at the right of it, and 60 pixels of space at the
  top of it.
*/
#rupert-map {
  margin-top: 60px;
  float: right;
  display: inline;
  margin-right: 10px;
}

/* 
  This makes the second div of the second webpage have a background color
  of whitesmoke, makes the box shadow visible, but not too visible so it
  can have a nice subtle effect. It also makes it so that the div has a 
  border that is 0.5 pixels big and have a dark gray colour that will make
  it easily distinguishable from the background color. Border radius makes 
  the border curved and not fully rectangular, this css code makes it so that
  the height and width of it is auto, and adds 10 pixels of padding space to the left 
  of it and 10 pixels of margin space on the top of it. It also transitions 
  the translate and box-shadow properties from #major-events:hover so that 
  it eases in nicely.
*/
#treaty-one-today {
  background-color: whitesmoke;
  box-shadow: 4.7px 4.7px 8px rgba(0, 0, 0, 0.1);
  border: solid 0.5px #a7a7a7;
  border-radius: 20px;
  height: auto;
  width: auto;
  padding: 10px 50px;
  margin-top: 10px;
  transition:
    translate 0.43s ease-out,
    box-shadow 0.2s ease-in;
}

/* 
  This makes the box shadow of my div much darker when it gets hovered 
  over, and makes the div move 10 pixels up when hovered over.
*/
#treaty-one-today:hover {
  box-shadow: 4.7px 6px 5px rgba(0, 0, 0, 0.5);
  translate: 0px -10px;
}

/* 
  This makes it so that all the anchor tags that make up the more 
  information section have no text decoration, makes it so that
  the text color is near black, and transitions the opacity when
  it is hovered over the ease in and out.
*/
.more-info {
  text-decoration: none;
  color: #121212;
  transition: opacity 0.2s ease-in-out;
}

/* 
  This makes it so that any of the anchor tags in the more information
  seciton are hovered over, their opacity gets lighter.
*/
.more-info:hover {
  opacity: 0.35;
}

/* 
This makes the image of the website symbol display as an inline element
so that it can stay beside the other elements, floats the image to the
right, and translates it 80 pixels to the right and 50 pixels downward.
*/
#web-sign {
  display: inline;
  float: right;
  translate: -80px 50px;
}
